/.Alternative.java._trace
/.Any.java._trace
/.ICC.java._trace
/.Negation.java._trace
/.Optional.java._trace
/.Plus.java._trace
/.Range.java._trace
/.Reference.java._trace
/.SG.java._trace
/.Sequence.java._trace
/.Single.java._trace
/.Star.java._trace
/.Until.java._trace
/.XtextToSG.java._trace
