/.Alternative.java._trace
/.AnyCharacter.java._trace
/.CharacterRange.java._trace
/.Combinations.java._trace
/.Commons.java._trace
/.ICC.java._trace
/.ICCExtensions.java._trace
/.IndexCollection.java._trace
/.Negation.java._trace
/.Optional.java._trace
/.Plus.java._trace
/.Reference.java._trace
/.SG.java._trace
/.Sequence.java._trace
/.SingleCharacterToken.java._trace
/.SingleStringToken.java._trace
/.Star.java._trace
/.Tests.java._trace
/.UntilCharacterToken.java._trace
/.UntilStringToken.java._trace
/Alternative.java
/AnyCharacter.java
/CharacterRange.java
/Commons.java
/ICC.java
/Negation.java
/Optional.java
/Plus.java
/Reference.java
/SG.java
/Sequence.java
/SingleCharacterToken.java
/SingleStringToken.java
/Star.java
/Tests.java
/UntilCharacterToken.java
/UntilStringToken.java
/.Single.java._trace
/.Until.java._trace
/.Any.java._trace
/.Range.java._trace
/.Carry.java._trace
